.signin-wrapper
  .signin-wrapper__dark-overlay
    .container
      %header.signin-brand.row.justify-content-center
        %h1.display-1.text-white.border-white.rounded Footprints
      .row.justify-content-center
        %h3.text-white
          Log your journey.
          %br
          Store your next destinations.

      .row.justify-content-center.mt-5
        %button.signin-btn.col-8.col-md-4.col-lg-3.btn.btn-success{"data-toggle": "modal", "data-target": "#signinModal"} ログイン

      #signinModal.modal
        .modal-dialog
          .modal-content
            .modal-header
              %h5.modal-title ログイン
              %button.close{"data-dismiss": "modal"} &times;
            .modal-body
              = form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: "new_user_sign_in"})  do |f|
                = devise_error_messages!
                .form-group
                  .field-label
                    = f.label :email
                  .field-input
                    = f.email_field :email, autofocus: true, class: "form-control", id: "user_email_sign_in"
                  .form-group
                    .field-label
                      = f.label :password
                      %i (英数字6文字以上)
                    .field-input
                      = f.password_field :password, autocomplete: "off", class: "form-control", id: "user_password_sign_in"
                  .modal-footer
                    = f.submit "Sign in", class: 'btn btn-success'

      - if devise_mapping.omniauthable?
        - resource_class.omniauth_providers.each do |provider|
          .row.justify-content-center.mt-2
            = link_to omniauth_authorize_path(resource_name, provider), class: "col-8 col-md-4 col-lg-3 btn #{provider.to_s}-login-btn" do
              - if provider == :facebook
                %i.fa.fa-facebook-official.fa-2x.mr-2
              - elsif provider == :twitter
                %i.fa.fa-twitter.fa-2x
              %span.align-middle #{OmniAuth::Utils.camelize(provider)}でログイン

      .row.justify-content-center.mt-2
        %button.signup-btn.col-8.col-md-4.col-lg-3.btn.btn-danger{"data-toggle": "modal", "data-target": "#signupModal"} 新規登録

      #signupModal.modal
        .modal-dialog
          .modal-content
            .modal-header
              %h5.modal-title 新規アカウントの登録
              %button.close{"data-dismiss": "modal"} &times;
            .modal-body
              = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
                = devise_error_messages!
                .form-group
                  .field-label
                    = f.label :name
                  .field-input
                    = f.text_field :name, autofocus: true, class: "form-control"
                .form-group
                  .field-label
                    = f.label :email
                  .field-input
                    = f.email_field :email, class: "form-control"
                .form-group
                  .field-label
                    = f.label :password
                    %i (英数字6文字以上)
                  .field-input
                    = f.password_field :password, autocomplete: "off", class: "form-control"
                .form-group
                  .field-label
                    = f.label :password_confirmation
                  .field-input
                    = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
                .form-group
                  .field-label
                    = f.label :avatar
                  .field-input
                    = f.file_field :avatar, class: "form-control"
                .modal-footer
                  = f.submit "Create Account", class: 'btn btn-info'