= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message

  .contents.row
    .container
      = form_tag('/posts', method: :post) do
        %h3
          投稿する

        = f.text_field :body, class: 'form__message', placeholder: 'type a message'
        = f.file_field :image

        .actions
          = f.submit 'Send', class: 'form__button'