.post{"data-postid": "#{post.id}"}
  .post__upper-info
    .post__user-name
      = post.user.name
    .post__place-name
      = post.place_name
    .post__date
      = post.created_at.strftime("%Y/%m/%d %H:%M")
  .post__body
    - if post.body.present?
      %p.post__text
        = post.body
    = image_tag post.images.first.image_url, class: 'post__image' if post.images.first.present?