.post.flip-box.card.mt-2.mt-lg-0.mb-1{"data-postid": "#{post.id}", "data-lat": "#{post.place.lat}", "data-lng": "#{post.place.lng}"}
  .flip-box-inner
    = image_tag post.images.first.image_url, class: 'flip-box-front card-img img-fluid' if post.images.first.present?
    .card-img-overlay
      = user_icon(post.user, "post__user-icon m-n2")
      -# %h5.card-title.post__place-name
      -#   = post.place_name
      -# - if post.visit_date.present?
      -#   %h6.card-subtitle.text-muted.mb-1.post__date
      -#     visited_on: 
      -#     = post.visit_date
    .flip-box-back.card-body
      %h5.card-title.post__place-name
        = post.place_name
      - if post.visit_date.present?
        %h6.card-subtitle.text-muted.mb-1.post__date
          visited_on: 
          = post.visit_date
