.modal-header
  %h5.modal-title{id: "postShowModalTitle"}
    = post.place_name
  %button.close{id: "postShowModalClose", "data-dismiss": "modal"} &times;
.modal-body
  %p
    = post.title
  %p
    = post.user.name
  %p
    = post.visit_date
  - post.images.each do |image|
    %div
      = image_tag image.image_url, class:""
  %p
    = post.body
  .modal-footer
    = link_to post_path(post), method: :delete, remote: true, class:"" do
      .btn.btn-danger 削除
    = link_to edit_post_path(post),remote: true, class: "edit-link", data: {"turbolinks": false} do
      .btn.btn-warning 編集
    #postEditBtn.d-none{"data-toggle": "modal", "data-target": "#newPostModal"}
