.post-index-wrapper.w-100

  %nav.my-navbar.navbar.navbar-expand-sm.bg-dark.navbar-dark.fixed-top
    .container-fluid
      = link_to root_path, class:'navbar-brand d-flex', "data-turbolinks":"false" do
        = image_tag 'apple-touch-icon-180x180.png', alt: 'img', height: '50px', width: '50px', class: 'icon'
        %h1.my-navbar__head.ml-3 Footprints

      %button.navbar-toggler{"data-toggle": "collapse", "data-target": "navbarCollaplse"}
        %span.navbar-toggler-icon
      #navbarCollapse.collapse.navbar-collapse
        %ul.navbar-nav.ml-auto
          %li.nav-item
            = link_to "My map", "#home-head-section", class: "nav-link"
          %li.nav-item
            = link_to "Wannagos", "#explore-head-section", class: "nav-link"
          %li.nav-item
            = link_to "Footprints", "#create-head-section", class: "nav-link"
          %li.nav-item
            = user_icon(current_user, {class: "my-navbar__avatar nav-link", "data-toggle": "modal", "data-target": "#userEditModal"})

  %main.main.container-fluid
    .row
      .latest-posts.bg-light.col-lg-2
        .latest-posts__head.d-flex.justify-content-center.align-items-center.border.mb-2.p-1.pr-4.bg-white
          = image_tag asset_path('someones_marker.png'), alt: 'img', height: '40rem', width: '40rem', class: 'icon'
          %h5.text-center.m-0 latest
          = fa_icon "chevron-circle-left", class: "latest-posts__chevron fa-2x ml-3"
        .latest-posts__content.d-flex.flex-lg-column
          = render @posts

      .map-wrapper.col-lg-8
        = render 'maps/index'

      .my-recent-posts.bg-light.col-lg-2
        .my-recent-posts__head.d-flex.justify-content-center.align-items-center.border.mb-2.p-1.pr-4.bg-white
          = image_tag asset_path('footprint_marker.png'), alt: 'img', height: '40rem', width: '40rem', class: 'icon'
          = fa_icon "chevron-circle-right", class: "my-recent-posts__chevron fa-2x ml-3"
          %h5.text-center.m-0 recent
        .my-recent-posts__content.d-flex.flex-lg-column
          = render partial: 'post', collection: @my_recent_posts

  %section.user-wannagos-index
  .container-fluid
    .row.flex-column
      %h1.text-center.bg-light
        = image_tag asset_path('wannago_marker.png'), alt: 'img', height: '40rem', width: '40rem', class: 'icon'
        Wannagos
      - if @wannagos.empty?
        %h3.text-center
          まだ行きたい場所はありません。
      .d-flex
        - @wannagos.each do |wannago|
          = render partial: 'post_card', locals: {post: wannago}


  %section.user-posts-index.my-3
    .container-fluid
      .row.flex-column
        %h1.text-center.bg-light
          = image_tag asset_path('footprint_marker.png'), alt: 'img', height: '40rem', width: '40rem', class: 'icon'
          Footprints
        - year_month = []
        - count = 0
        - @my_all_posts.each do |post|
          - year_month_index = year_month.find_index {|x| x == post.visit_date&.strftime("%Y/%m")}
          - if year_month_index == nil
            %h2.user-posts-index__head.bg-light.text-center.mt-3.sticky-top
              = post.visit_date&.strftime("%Y/%m")
            - year_month << post.visit_date&.strftime("%Y/%m")
            %div.d-flex.w-100.justify-content-center
              - @my_all_posts.each do |post|
                - year_month_index = year_month.find_index {|x| x == post.visit_date&.strftime("%Y/%m")}
                - if year_month_index == count
                  = render partial: 'post_card', locals: {post: post}
              - count += 1

  %footer#main-footer.bg-dark
    .container
      .row
        .col.text-center.text-white.py-4
          %h3 Footprints
          %p
            Copyright &copy;
            %span#year
              = Date.today.strftime("%Y")
          %button.btn.btn-outline-warning{"data-toggle": "modal", "data-target": "#contactModal"}
            Contact Us

#newPostModal.modal
  .modal-dialog
    #newPostModalContent.modal-content

#postShowModal.modal
  .modal-dialog
    #postShowModalContent.modal-content

#userEditModal.modal
  .modal-dialog
    #userEditModalContent.modal-content
      .modal-header
        %h5.modal-title アカウントの編集
        %button.close{"data-dismiss": "modal"} &times;
      .modal-body
        = form_for(current_user) do |f|
          .form-group
            .field-label
              = f.label :name
            .field-input
              = f.text_field :name, autofocus: true, class: "form-control"
          .form-group
            .field-label
              = f.label :email
            .field-input
              = f.email_field :email, class: "form-control"
          .form-group
            .field-label
              = f.label :avatar
            .field-input
              = f.file_field :avatar, class: "form-control"
          .modal-footer
            = f.submit "Update", class: 'btn btn-info'
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-outline-info'
