.post-index-wrapper

  %nav.my-navbar.navbar.navbar-expand-sm.bg-dark.navbar-dark
    .container-fluid
      = link_to root_path, class:'navbar-brand d-flex', "data-turbolinks":"false" do
        = image_tag 'apple-touch-icon-180x180.png', alt: 'img', height: '50px', width: '50px', class: 'icon'
        %h1.my-navbar__head.ml-3 Footprints

      %button.navbar-toggler{"data-toggle": "collapse", "data-target": "navbarCollaplse"}
        %span.navbar-toggler-icon
      #navbarCollapse.collapse.navbar-collapse
        %ul.navbar-nav.ml-auto
          %li.nav-item
            = link_to "Home", "#home-head-section", class: "nav-link"
          %li.nav-item
            = link_to "Explore", "#explore-head-section", class: "nav-link"
          %li.nav-item
            = link_to "Create", "#create-head-section", class: "nav-link"
          %li.nav-item
            = user_icon(current_user, {class: "my-navbar__avatar nav-link", "data-toggle": "modal", "data-target": "#userEditModal"})

  %main.main.container-fluid.pt-2
    .row
      .my-recent-posts.bg-light.col-lg-2
        .my-recent-posts__head.d-flex.justify-content-center.align-items-center.border.mb-2.p-1.pr-4.bg-white
          = image_tag asset_path('someones_marker.png'), alt: 'img', height: '40rem', width: '40rem', class: 'icon'
          %h5.text-center.m-0 latest
        .my-recent-posts__content.d-flex.flex-lg-column
          = render @posts

      .map-wrapper.col-lg-8
        = render 'maps/index'

      .my-recent-posts.bg-light.col-lg-2
        .my-recent-posts__head.d-flex.justify-content-center.align-items-center.border.mb-2.p-1.pr-4.bg-white
          = image_tag asset_path('footprint_marker.png'), alt: 'img', height: '40rem', width: '40rem', class: 'icon'
          %h5.text-center.m-0 recent
        .my-recent-posts__content.d-flex.flex-lg-column
          = render partial: 'post', collection: @my_recent_posts

#newPostModal.modal
  .modal-dialog
    #newPostModalContent.modal-content
      -# = render partial: 'form', locals: {post: @post}

      -# .modal-header
      -#   %h5.modal-title{id: "newPostModalTitle"}
      -#     投稿内容を入力してください
      -#   %button.close{id: "newPostModalClose", "data-dismiss": "modal"} &times;
      -# .modal-body
      -#   = form_with model: @post, class:'newpost-form__form', id: 'newpost-form__form', local: true do |f|
      -#     .form-group
      -#       .field-label
      -#         = f.label :title, "タイトル"
      -#       .field-input
      -#         = f.text_field :title, placeholder: "タイトル（40文字まで）", value: "", class: "form-control"
      -#     .form-group
      -#       .field-label
      -#         = f.label :visit_date, "訪問日"
      -#       .field-input
      -#         = f.date_field :visit_date, class: "form-control", id: "newPostFormVisitDate"
      -#     .form-group
      -#       %h6 写真
      -#       #file-drop-area
      -#         %p#newpost-modal__image-text.newpost-modal__image-text.text-center.text-muted
      -#           ドラッグ&ドロップ
      -#           %br
      -#           またはクリックして画像をアップロード
      -#         .dropzone-previews

      -#       -# = f.fields_for :images do |fin|
      -#       -#   = fin.label :image, "写真" do
      -#       -#     .item-registration__form__group__image{id: 'file-drop-area'}
      -#       -#       .nest-form__head
      -#       -#         = fin.file_field :image, multiple: true, name: 'images[image][]', style:"display:none;", class: "form-control newPostFormImages"
      -#       -#         %p ドラッグアンドドロップ
      -#       -#         %p またはクリックしてファイルをアップロード

      -#     .form-group
      -#       .field-label
      -#         = f.label :body, "本文"
      -#       .field-input
      -#         = f.text_area :body, placeholder: "本文を入力", class: "form-control", id: "newPostFormBody"
      -#     .modal-footer
      -#       = f.submit "投稿する", { id: 'newPostFormSubmit', class: "btn btn-warning", data: {disable_with: false}}

#postShowModal.modal
  .modal-dialog
    #postShowModalContent.modal-content

#userEditModal.modal
  .modal-dialog
    #userEditModalContent.modal-content
      .modal-header
        %h5.modal-title 新規アカウントの登録
        %button.close{"data-dismiss": "modal"} &times;
      .modal-body
        = form_for(current_user) do |f|
          .form-group
            .field-label
              = f.label :name
            .field-input
              = f.text_field :name, autofocus: true, class: "form-control"
          .form-group
            .field-label
              = f.label :email
            .field-input
              = f.email_field :email, class: "form-control"
          .form-group
            .field-label
              = f.label :password
              %i (英数字6文字以上)
            .field-input
              = f.password_field :password, autocomplete: "off", class: "form-control"
          .form-group
            .field-label
              = f.label :avatar
            .field-input
              = f.file_field :avatar, class: "form-control"
          .modal-footer
            = f.submit "Update", class: 'btn btn-info'
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-outline-info'
