.post-index-wrapper

  %nav.my-navbar.navbar.navbar-expand-sm.bg-dark.navbar-dark
    .container-fluid
      = link_to root_path, class:'navbar-brand d-flex', "data-turbolinks":"false" do
        = image_tag 'apple-touch-icon-180x180.png', alt: 'img', height: '50px', width: '50px', class: 'icon'
        %h1.my-navbar__head.ml-3 Footprints

      %button.navbar-toggler{"data-toggle": "collapse", "data-target": "navbarCollaplse"}
        %span.navbar-toggler-icon
      #navbarCollapse.collapse.navbar-collapse
        %ul.navbar-nav.ml-auto
          %li.nav-item
            = link_to "My map", "#home-head-section", class: "nav-link"
          %li.nav-item
            = link_to "Explore", "#explore-head-section", class: "nav-link"
          %li.nav-item
            = link_to "Create", "#create-head-section", class: "nav-link"
          %li.nav-item
            = user_icon(current_user, {class: "my-navbar__avatar nav-link", "data-toggle": "modal", "data-target": "#userEditModal"})

  %main.main.container-fluid.pt-2
    .row
      .my-recent-posts.bg-light.col-lg-2
        .my-recent-posts__head.d-flex.justify-content-center.align-items-center.border.mb-2.p-1.pr-4.bg-white
          = image_tag asset_path('someones_marker.png'), alt: 'img', height: '40rem', width: '40rem', class: 'icon'
          %h5.text-center.m-0 latest
        .my-recent-posts__content.d-flex.flex-lg-column
          = render @posts

      .map-wrapper.col-lg-8
        = render 'maps/index'

      .my-recent-posts.bg-light.col-lg-2
        .my-recent-posts__head.d-flex.justify-content-center.align-items-center.border.mb-2.p-1.pr-4.bg-white
          = image_tag asset_path('footprint_marker.png'), alt: 'img', height: '40rem', width: '40rem', class: 'icon'
          %h5.text-center.m-0 recent
        .my-recent-posts__content.d-flex.flex-lg-column
          = render partial: 'post', collection: @my_recent_posts

  %section.my-posts
    .container-fluid
      .row.flex-column
        - year_month = []
        - count = 0
        - @my_all_posts.each do |post|
          - year_month_index = year_month.find_index {|x| x == post.visit_date&.strftime("%Y/%m")}
          - if year_month_index == nil
            %div
              = post.visit_date&.strftime("%Y/%m")
            - year_month << post.visit_date&.strftime("%Y/%m")
            %div.d-flex
              - @my_all_posts.each do |post|
                - year_month_index = year_month.find_index {|x| x == post.visit_date&.strftime("%Y/%m")}
                - if year_month_index == count
                  = render partial: 'post_card', locals: {post: post}
              - count += 1

#newPostModal.modal
  .modal-dialog
    #newPostModalContent.modal-content

#postShowModal.modal
  .modal-dialog
    #postShowModalContent.modal-content

#userEditModal.modal
  .modal-dialog
    #userEditModalContent.modal-content
      .modal-header
        %h5.modal-title アカウントの編集
        %button.close{"data-dismiss": "modal"} &times;
      .modal-body
        = form_for(current_user) do |f|
          .form-group
            .field-label
              = f.label :name
            .field-input
              = f.text_field :name, autofocus: true, class: "form-control"
          .form-group
            .field-label
              = f.label :email
            .field-input
              = f.email_field :email, class: "form-control"
          .form-group
            .field-label
              = f.label :avatar
            .field-input
              = f.file_field :avatar, class: "form-control"
          .modal-footer
            = f.submit "Update", class: 'btn btn-info'
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-outline-info'
