.post-index-wrapper

  %nav.my-navbar.navbar.navbar-expand-sm
    .container-fluid
      .my-navbar__leftbox.navbar-brand
        = link_to root_path, class:'row' do
          = image_tag 'apple-touch-icon-180x180.png', alt: 'img', height: '50px', width: '50px', class: 'icon'
          %h1.my-navbar__head.ml-3 Footprints
      
      .my-navbar__rightbox.col-2
        %ul.my-navbar__lists.navbar-nav
          %li.username.nav-item
            = current_user.name
          %li.userpage.nav-item
            = link_to edit_user_path(current_user) do
              = fa_icon 'cog', class: 'icon'
          %li.newpost.nav-item
            = link_to 'New Post', new_post_path
          %li.logout.nav-item
            = link_to 'Log Out', destroy_user_session_path, method: :delete, class:'log-out__btn'

  %main.main
    .map-wrapper
      = render 'maps/index'
      -# .form
      -#   = form_with model: @post , class: 'form__box' do |f|
      -#     .form__input-box
      -#       = f.text_field :body, class: 'form__message', placeholder: 'Write down your experience'
      -#       .form__mask
      -#         = f.label :image, class: 'form__mask-image' do
      -#           = fa_icon 'picture-o', class: 'icon'
      -#           = f.file_field :image, class: 'hidden'
      -#     .send-btn
      -#       = f.submit 'Post', class: 'form__button'
      
    .posts
      = render @posts

#newPostModal.modal
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title{id: "newPostModalTitle"}
          投稿内容を入力してください
        %button.close{id: "newPostModalClose", "data-dismiss": "modal"} &times;
      .modal-body
        = form_with model: @post, class:'newpost-form__form', id: 'newpost-form__form', local: true do |f|
          .form-group
            .field-label
              = f.label :title, "タイトル"
            .field-input
              = f.text_field :title, placeholder: "タイトル（40文字まで）", value: "", class: "form-control"
          .form-group
            .field-label
              = f.label :visit_date, "訪問日"
            .field-input
              = f.date_field :visit_date, class: "form-control", id: "newPostFormVisitDate"
          .form-group
            %h6 写真
            #file-drop-area
              %p#newpost-modal__image-text.newpost-modal__image-text.text-center.text-muted
                ドラッグ&ドロップ
                %br
                またはクリックして画像をアップロード
              .dropzone-previews

            -# = f.fields_for :images do |fin|
            -#   = fin.label :image, "写真" do
            -#     .item-registration__form__group__image{id: 'file-drop-area'}
            -#       .nest-form__head
            -#         = fin.file_field :image, multiple: true, name: 'images[image][]', style:"display:none;", class: "form-control newPostFormImages"
            -#         %p ドラッグアンドドロップ
            -#         %p またはクリックしてファイルをアップロード

          .form-group
            .field-label
              = f.label :body, "本文"
            .field-input
              = f.text_area :body, placeholder: "本文を入力", class: "form-control", id: "newPostFormBody"
          .modal-footer
            = f.submit "投稿する", { id: 'newPostFormSubmit', class: "btn btn-warning", data: {disable_with: false}}

#postShowModal.modal
  .modal-dialog
    #postShowModalContent.modal-content
      -# .modal-header
      -#   %h5.modal-title{id: "postShowModalTitle"}
      -#     = @post.title
      -#   %button.close{id: "postShowModalClose", "data-dismiss": "modal"} &times;
      -# .modal-body

      -#   = form_with model: @post, class:'newpost-form__form', id: 'newpost-form__form', local: true do |f|
      -#     .form-group
      -#       .field-label
      -#         = f.label :title, "タイトル"
      -#       .field-input
      -#         = f.text_field :title, placeholder: "タイトル（40文字まで）", value: "", class: "form-control"
      -#     .form-group
      -#       .field-label
      -#         = f.label :visit_date, "訪問日"
      -#       .field-input
      -#         = f.date_field :visit_date, class: "form-control", id: "newPostFormVisitDate"
      -#     .form-group
      -#       %h6 写真
      -#       #file-drop-area
      -#         %p#newpost-modal__image-text.newpost-modal__image-text.text-center.text-muted
      -#           ドラッグ&ドロップ
      -#           %br
      -#           またはクリックして画像をアップロード
      -#         .dropzone-previews
      -#     .form-group
      -#       .field-label
      -#         = f.label :body, "本文"
      -#       .field-input
      -#         = f.text_area :body, placeholder: "本文を入力", class: "form-control", id: "newPostFormBody"

      -#     .modal-footer
      -#       = f.submit "投稿する", { id: 'newPostFormSubmit', class: "btn btn-warning", data: {disable_with: false}}