.wrapper

  %header.header
    .header__leftbox
      Footprints
    
    .header__rightbox
      %ul.header__lists
        %li.username
          = current_user.name
        %li.userpage
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'
        %li.newpost
          = link_to 'New Post', new_post_path
    
  %main.main
    .map-wrapper
      = render 'maps/index'

      .form
        = form_with model: @post , class: 'form__box' do |f|
          .form__input-box
            = f.text_field :body, class: 'form__message', placeholder: 'Write down your experience'
            .form__mask
              = f.label :image, class: 'form__mask-image' do
                = fa_icon 'picture-o', class: 'icon'
                = f.file_field :image, class: 'hidden'
          .send-btn
            = f.submit 'Post', class: 'form__button'
      
    .posts
      = render @posts

.newpost-modal-wrapper
  .newpost-modal
    .newpost-modal__bg.newpost-modal__close
    .newpost-modal__content

      .newpost-form
        = form_with model: @post, class:'newpost-form__form', id: 'newpost-form__form', local: true do |f|
          %h3.newpost-form__head
            投稿内容を入力してください
          .newpost-form__content
            あなたが出品した商品は「出品した商品一覧」からいつでも見ることができます。

            .newpost-form__title
              = f.text_field :title, placeholder: "タイトル（必須40文字まで）", value: ""

            .newpost-form__visit-date
              = f.date_field :visit_date

            = f.fields_for :images do |fin|
              =fin.label :image, multiple: true do
                .item-registration__form__group__image{id: 'file-drop-area'}
                  .nest-form__head
                    = fin.file_field :image, multiple: true, name: 'images[image][]', style:"display:none;"
                    %p ドラッグアンドドロップ
                    %p またはクリックしてファイルをアップロード

            .newpost-form__body
              = f.text_area :body, placeholder: "本文を入力"

            = f.submit "投稿する", { id: 'item-submit', data: {disable_with: false}}

            = link_to '閉じる', '#', class: 'newpost-modal__close'