.post-index-wrapper

  %nav.my-navbar.navbar.navbar-expand-sm.bg-dark.navbar-dark
    .container-fluid
      = link_to root_path, class:'navbar-brand d-flex', "data-turbolinks":"false" do
        = image_tag 'apple-touch-icon-180x180.png', alt: 'img', height: '50px', width: '50px', class: 'icon'
        %h1.my-navbar__head.ml-3 Footprints

      %button.navbar-toggler{"data-toggle": "collapse", "data-target": "navbarCollaplse"}
        %span.navbar-toggler-icon
      #navbarCollapse.collapse.navbar-collapse
        %ul.navbar-nav.ml-auto
          %li.nav-item
            = link_to "Map", "#home-head-section", class: "nav-link"
          %li.nav-item
            = link_to "Explore", "#explore-head-section", class: "nav-link"
          %li.nav-item
            = link_to "Create", "#create-head-section", class: "nav-link"
          %li.nav-item
            = user_icon(current_user, {class: "my-navbar__avatar nav-link", "data-toggle": "modal", "data-target": "#userEditModal"})

  %main.main.container-fluid.pt-2
    .row
      .my-recent-posts.bg-light.col-lg-2
        .my-recent-posts__head.d-flex.justify-content-center.align-items-center.border.mb-2.p-1.pr-4.bg-white
          = image_tag asset_path('someones_marker.png'), alt: 'img', height: '40rem', width: '40rem', class: 'icon'
          %h5.text-center.m-0 latest
        .my-recent-posts__content.d-flex.flex-lg-column
          = render @posts

      .map-wrapper.col-lg-8
        = render 'maps/index'

      .my-recent-posts.bg-light.col-lg-2
        .my-recent-posts__head.d-flex.justify-content-center.align-items-center.border.mb-2.p-1.pr-4.bg-white
          = image_tag asset_path('footprint_marker.png'), alt: 'img', height: '40rem', width: '40rem', class: 'icon'
          %h5.text-center.m-0 recent
        .my-recent-posts__content.d-flex.flex-lg-column
          = render partial: 'post', collection: @my_recent_posts

#newPostModal.modal
  .modal-dialog
    #newPostModalContent.modal-content

#postShowModal.modal
  .modal-dialog
    #postShowModalContent.modal-content

-# #likeNewModal.modal
-#   .modal-dialog
-#     #likeNewModalContent.modal-content
-#       .modal-header
-#         %h5.modal-title{id: "likeNewModalTitle"}
-#           投稿内容を入力してください
-#         %button.close{id: "likeNewModalClose", "data-dismiss": "modal"} &times;
-#       .modal-body
-#         = form_with model: @post, class:'newpost-form__form', id: "post-#{action_name}-form", local: true do |f|
-#           .form-group
-#             .field-label
-#               = f.label :body, "メモ"
-#             .field-input
-#               = f.text_field :title, placeholder: "メモ（40文字まで）", class: "form-control"
-#           .modal-footer
-#             - if action_name == 'edit'
-#               = f.submit "保存", {id: "editPostFormSubmit", class: "btn btn-warning"}
-#             - else
-#               = f.submit "投稿", { id: 'newPostFormSubmit', class: "btn btn-warning", data: {disable_with: false}}


#userEditModal.modal
  .modal-dialog
    #userEditModalContent.modal-content
      .modal-header
        %h5.modal-title アカウントの編集
        %button.close{"data-dismiss": "modal"} &times;
      .modal-body
        = form_for(current_user) do |f|
          .form-group
            .field-label
              = f.label :name
            .field-input
              = f.text_field :name, autofocus: true, class: "form-control"
          .form-group
            .field-label
              = f.label :email
            .field-input
              = f.email_field :email, class: "form-control"
          .form-group
            .field-label
              = f.label :avatar
            .field-input
              = f.file_field :avatar, class: "form-control"
          .modal-footer
            = f.submit "Update", class: 'btn btn-info'
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-outline-info'
