!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Footprints
    = csrf_meta_tags
    = csp_meta_tag

    -# = favicon_link_tag('favicon.ico')
    -# %link{rel: "icon", type: "image/x-icon", href: "/assets/favicon.ico"}
    -# %link{rel: "icon", type: "image/x-icon", href: "/favicon.ico"}
    = favicon_link_tag 'favicon.ico', rel: 'icon', type: 'image/x-icon'

    -# %link{rel: "apple-touch-icon", sizes: "180x180", href: "/assets/apple-touch-icon-180x180.png"}
    %link{rel: "apple-touch-icon", sizes: "180x180", href: "/assets/apple-touch-icon-180x180.png"}

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    -# = javascript_include_tag 'application', data: { turbolinks: { track: true }}

  %body
    = yield
